<launch>

  <!-- megapose_model: The name of the model to use. Options are:
                      'RGB': RGB only model
                      'RGBD': RGBD model
                      'RGB-multi-hypothesis': RGB only model with multi-hypothesis
                      'RGBD-multi-hypothesis': RGBD model with multi-hypothesis -->
                      
  <param name="megapose_model" value="RGB" >
  </param>


  <node pkg="visp_megapose" type="megapose_server_.py" name="megapose_server" output="screen">
  </node>

</launch>